<nav class="navbar sticky-top bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark" style="opacity: 100%;">
    <form class="container-fluid justify-content-start">
        <button class="btn btn2" type="submit" style="background-color: rgb(160,32,240); color: white;">Back to Searching</button>
      </form>
  </nav>