<nav class="navbar sticky-top bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark" style="opacity: 100%;">
    <form class="container-fluid justify-content-start">
        <button class="btn btn2" type="submit" style="background-color: rgb(160,32,240); color: white;">Back to Searching</button>
        <br>
        
        <table style="border: 1px solid white;">
            <tr style="width: 150px;" >
                <td style="border: 2px solid white; border-right: 1px dotted white;">
                    <%- include("Luna.ejs") %>
                </td>

                <td style="border: 2px double white;">
                    <%- include("Ziua.ejs") %>
                </td>
            </tr>
        </table>

      </form>
  </nav>